.records{
    height:92%;
    font-size:48px;
    padding-left:10px
}



.divforleftTableElement{
        width: 40%;
        display: flex;
        justify-content: space-around
}

.divforrightTableElement{
        width: 60%;
        display: flex;
        justify-content:space-around
}

.recorddiv{
    height:100%;
    width:100%;
    background-color: black;
    color:white
}



@media (max-width:950px){
    .datestring{
        display:none
    }
    .slashtime{
        display:none
    }
    .localstring{
        display:none
    }
    .records{
        font-size: 35px;
        padding-top: 7px;
    }
    .divforleftTableElement{
        width: 5%;
        
}

.divforrightTableElement{
    width: 95%;
    
}
}